black
fastapi
numpy
opencv-python-headless
pandas
Pillow
python-multipart
requests
uvicorn[standard]

# barcode
Pillow
python-barcode
pyzbar

# qr code
qrcode[pil]
pyzbar

# dev
ipython
pytest
pytest-cov
pytest-mock